.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.active{background-color: rgb(163, 221, 202)!important;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homepage {
  background-image: url('https: //localhost 7032px /logo .webp;');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* כדי לכסות את כל גובה הדף */
  display: flex;
  justify-content: center; /* ממרכז את התוכן אופקית */
  align-items: center; /* ממרכז את התוכן אנכית */
  color: white; /* צבע טקסט */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* הצללה לטקסט */
}

